{% extends 'mpages/index.html' %}

    {% block nav %}
        <nav class="container navbar navbar-expand-lg navbar-light bg-light animate__animated animate__rubberBand" id="home">

      <div class="container-fluid">
        <h5 class="navbar-brand">saske hotel</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link animate__animated animate__bounceInRight" aria-current="page" href="{% url 'main:home' %}">home</a></li>
              <li class="nav-item"><a class="nav-link animate__animated animate__bounceInRight" href="{% url 'main:serv' %}">services</a></li>
              <li class="nav-item"><a class="nav-link animate__animated animate__bounceInRight" href="{% url 'main:room' %}">rooms</a></li>
              <li class="nav-item"><a class="nav-link active animate__animated animate__flash" href="{% url 'main:rev' %}">reviews</a></li>
          </ul>
          <form class="d-flex">
            {% if user %}
            <a class="btn btn-dark bg-warning" href="{% url 'orders:orders' %}">your order</a>
          {% endif %}
          {% if order %}
            <a class="btn btn-dark bg-info" href="{% url 'orders:conf' %}">your bill</a>
          {% endif %}
          </form>
        </div>
      </div>
    </nav>
    {% endblock nav %}

    {% block cont %}
        <section id="rate">
        <div class="item-rate row" style="text-align:center;"> 
            {% for re in res %}
            <div class="one-rate col-md-4"> 
            <div class="info"> 
            
            {% if re.reimage %}
            <a href="{{ re.reimage.url }}"><img src="{{ re.reimage.url }}" alt="{{ re.rename }}'s picture not found"/></a>
            {% else %}
              <img src="../../static/media/rooms/428-9.jpg" alt="{{ re.rename }}'s photo">
            {% endif %}
            
            
                <h3>{{ re.rename }} </h3><span class="nstar">{{ re.rerate }}</span><span class="rate"></span>
            </div>
            <p class="redes" title="{{ re.redes }}">{{ re.redes }}</p>
            </div>
        
            {% endfor %}
        </div>
        </section>
    {% endblock cont %}