    <footer class="row">
      <div class="col-md-3 col-sm-6" id="fname">
        <h2><span id="hotelname" class="name">saske</span> hotel</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sequi minus eveniet quaerat nisi odit, ab inventore ratione architecto voluptate, totam explicabo praesentium voluptas natus illo doloribus incidunt, ac</p>
      </div>
      <div class="col-md-3 col-sm-6" id="fxplore">
        <h2>explore</h2>
        <ul> 
            <li id="sochial-item"><a class="home" href="#home">home</a></li>
            <li id="sochial-item"><a class="services" href="#services">services</a></li>
            <li id="sochial-item"><a class="room" href="#rooms">room</a></li>
            <li id="sochial-item"><a class="offer" href="#dis">offer</a></li>
            <li id="sochial-item"><a class="contact" href="#form">contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6" id="fxplore"> 
        <h2>questions</h2>
        <ul> 
            <li id="sochial-item"><a class="help support" href="#">help support</a></li>
            <li id="sochial-item"><a class="why coride" href="#">why coride</a></li>
            <li id="sochial-item"><a class="features" href="#">features</a></li>
            <li id="sochial-item"><a class="priceline" href="#">priceline</a></li>
            <li id="sochial-item"><a class="history" href="#">history</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6" id="fxplore"> 
        <h2>contact</h2>
        <ul> 
            <li id="sochial-item"><a class="01060950140" href="#">01060950140</a></li>
            <li id="sochial-item"><a class="0862030396" href="#">0862030396</a></li>
          <div class="soc"><a class="col-md-3" href="#"> <i class="bi bi-facebook"></i></a><a class="col-md-3" href="#"><i class="bi bi-twitter"></i></a><a class="col-md-3" href="#"><i class="bi bi-instagram"></i></a></div>
        </ul>
      </div>
    </footer>