<section data-aos="flip-right" data-aos-offset="500" data-aos-easing="ease-in-sine" data-aos-duration="1000" id="rooms">   
      <div class="tc"> 
        <h1 data-aos="flip-left" data-aos-offset="580" data-aos-easing="ease-in-sine" data-aos-duration="1000">our rooms</h1>
        <p data-aos="flip-down" data-aos-offset="550" data-aos-easing="ease-in-sine" data-aos-duration="1000">we have <span id="spechial" data-aos="fade-up-right" data-aos-offset="550" data-aos-duration="1000">+{{ rooms|length }}</span> rooms to keep your comfort as we can</p>
      </div>
      <div class="row">
            
        {% for room in rooms|slice:"3" %}
        {% if room.roavaliable %}
          <div class="item-rooms col-md-3 col-sm-5">
            <img data-aos="{% cycle 'fade-right' 'fade-up' 'fade-left' %}" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-offset="350" class="rooms-img" src="{{ room.roimage1.url }}" alt="{{ room.roimage1 }}"/>
            <h5 data-aos="{% cycle 'fade-right' 'fade-up' 'fade-left' %}" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-offset="200">{{ room.roprice }}<sup>$</sup></h5>
          {% if room.roomoldprice > room.roprice and room.roomoldprice %}
            <h5 data-aos="{% cycle 'fade-right' 'fade-up' 'fade-left' %}" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-offset="200"><del>{{ room.roomoldprice }}<sup>$</sup></del></h5>
          {% endif %}  
          <br>
          {% if room.roomoldprice > room.roprice %}
            <span data-aos="{% cycle 'fade-right' 'fade-up' 'fade-left' %}" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-offset="200" class="sale me-2 mb-3">SALE</span>
          {% endif %}
          {% if room.ronew %}
            <span data-aos="{% cycle 'fade-right' 'fade-up' 'fade-left' %}" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-offset="200" class="new me-2 mb-3">NEW</span>
          {% endif %}
            <h3 data-aos="{% cycle 'fade-right' 'fade-up' 'fade-left' %}" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-offset="150">{{ room.roname }} </h3>
            <p data-aos="fade-right" data-aos-offset="140">{{ room.rodes }}</p>
            <a data-aos="fade-right" data-aos-offset="100" class="btn btn-warning m-5" href="{% url 'main:romdet' room.roslug %}">more detail</a>
          </div>
        {% endif %}
        {% endfor %}
      </div>
      <a href="{% url 'main:room' %}" class="btn btn-warning">see more</a>
</section>
